:root {
  /********* colors *********/

  //primary
  --primary-900: #271468;
  --primary-800: #372079;
  --primary-700: #402783;
  --primary-600: #492E8E;
  --primary-500: #503396;
  --primary-400: #6A52A6;
  --primary-300: #8570B6;
  --primary-200: #A899CB;
  --primary-100: #CBC2E0;
  --primary-50:  #EAE7F2;

  //secondary
  --secondary-900: #8BA7C0;
  --secondary-800: #9AB4CA;
  --secondary-700: #A3BBCF;
  --secondary-600: #ACC2D5;
  --secondary-500: #B3C8D9;
  --secondary-400: #BED0DF;
  --secondary-300: #CAD9E4;
  --secondary-200: #D9E4EC;
  --secondary-100: #E8EFF4;
  --secondary-50:  #F6F8FA;
  /**************************/

  //other
  --grey: #96A0B5;
  --surface: #E5E5E5;

}
