:root {
  /********* colors *********/

  //primary
  --primary-900: #271468;
  --primary-800: #372079;
  --primary-700: #402783;
  --primary-600: #492E8E;
  --primary-500: #503396;
  --primary-400: #6A52A6;
  --primary-300: #8570B6;
  --primary-200: #A899CB;
  --primary-100: #CBC2E0;
  --primary-50:  #EAE7F2;

  //secondary
  --secondary-900: #8BA7C0;
  --secondary-800: #9AB4CA;
  --secondary-700: #A3BBCF;
  --secondary-600: #ACC2D5;
  --secondary-500: #B3C8D9;
  --secondary-400: #BED0DF;
  --secondary-300: #CAD9E4;
  --secondary-200: #D9E4EC;
  --secondary-100: #E8EFF4;
  --secondary-50:  #F6F8FA;
  /**************************/

  //other
  --grey: #96A0B5;

}

/********* foreground *********/

//primary
.fg-primary-900 {
  color: var(--primary-900);
}
.fg-primary-800 {
  color: var(--primary-800);
}
.fg-primary-700 {
  color: var(--primary-700);
}
.fg-primary-600 {
  color: var(--primary-600);
}
.fg-primary-500 {
  color: var(--primary-500);
}
.fg-primary-400 {
  color: var(--primary-400);
}
.fg-primary-300 {
  color: var(--primary-300);
}
.fg-primary-200 {
  color: var(--primary-200);
}
.fg-primary-100 {
  color: var(--primary-100);
}
.fg-primary-50 {
  color: var(--primary-50);
}

//secondary
.fg-secondary-900 {
  color: var(--secondary-900);
}
.fg-secondary-800 {
  color: var(--secondary-800);
}
.fg-secondary-700 {
  color: var(--secondary-700);
}
.fg-secondary-600 {
  color: var(--secondary-600);
}
.fg-secondary-500 {
  color: var(--secondary-500);
}
.fg-secondary-400 {
  color: var(--secondary-400);
}
.fg-secondary-300 {
  color: var(--secondary-300);
}
.fg-secondary-200 {
  color: var(--secondary-200);
}
.fg-secondary-100 {
  color: var(--secondary-100);
}
.fg-secondary-50 {
  color: var(--secondary-50);
}

//grey
.fg-gray-900 {
  color: var(--grey);
}

/**************************/
