.container {
  width: 460px;
  box-shadow: 0 3px 3px gray;
  height: 100%;
  min-height: 100vh;

  svg g {
    height: 12px;
    width: 12px;
  }

  svg {
    margin: -20;
  }
}

.flex {
  display: flex;
  flex: 1 1 auto;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
