<nav *ngFor="let company of result()" class="fg-primary-900 w-700">
  {{ company.name }}
  <ul class="no-decoration">
    <ng-container *ngFor="let depOrEmpl of asAny(company.items)">
      <ng-template #noDeps>
        <li class="fg-grey w-600 flex space-between align-center">{{ depOrEmpl.name }}</li>
      </ng-template>
      <ng-container *ngIf="extractIfDepartment(depOrEmpl) as empls; else noDeps">
        <li class="flex space-between align-center"
            [ngClass]="{ 'fg-primary-900 w-700': empls.length > 0, 'fg-grey w-600': empls.length < 1 }"
        >
          {{ depOrEmpl.name }} <a href="#"><orfs-link-icon icon></orfs-link-icon></a>
        </li>
        <ul *ngFor="let empl of empls" class="no-decoration">
          <li class="fg-grey w-600 flex space-between align-center">
            {{ empl.name }} <a href="#"><orfs-link-icon icon></orfs-link-icon></a>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </ul>
</nav>
